PORT=9100
MODE=local
LOG_LEVEL=info

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=camp_scheduler
DATABASE_PASSWORD=p@ss123
DATABASE_SSL_MODE=disable
DATABASE_NAME=camp_scheduler
DATABASE_TIMEOUT=10s
